.edit-row {
  background-color: rgb(255, 84, 77);
  color: #fff;
  font-size: 2rem;
  font-weight: 100;
  padding: 150px 20px 200px 20px;
}

.input-edit-profile {
  background-color:rgb(255, 84, 77);
  border: 0px;
  border-bottom: 1px solid #fff;
  margin: 0px 0px 50px 20px;
  font-size: 3rem;
}

.button-row {
  text-align: center;
}

.label-edit-profile {
  font-weight: 100;
  color: #000;
  margin: 0px 0px 0px 80px;
}

.edit-button {
  color: rgb(255, 84, 77);
  background-color: #fff;
  padding: 20px 90px;
  border: 0px;
  font-size: 2rem;
  border-radius: 50px;
  margin: 50px 0px 0px 0px;
  text-align: center;
}
