$light-blue: lighten(rgb(0, 121, 191), 10%);
$dark-blue: darken(rgb(0, 121, 191), 7%);

html {
    overflow: hidden;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    max-height: 100vh;
    background-color: rgb(0, 121, 191);
}

.trello-container {
    background-color: rgb(0, 121, 191);
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #dfdfdf;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #dfdfdf;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #dfdfdf;
   opacity:  1;
}
:-ms-input-placeholder {
   color:    #dfdfdf;
}

.alert {
    border-radius: 0;
}

.gu-mirror {
  cursor: grabbing;
  position: fixed;
  margin: 0;
  z-index: 9999;
  opacity: .8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80)
}

.gu-hide {
  display: none!important
}

.gu-unselectable {
  -webkit-user-select: none!important;
  -moz-user-select: none!important;
  -ms-user-select: none!important;
  user-select: none!important
}

.gu-transit {
  opacity: .2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20)
}

.item-placeholder {
    min-height: 50px;
    max-height: 60px;
    margin-left: 20px;
    border-radius: 5px;
    cursor: pointer;

    &.editing {
        max-height: 110px;
    }

    span {
        font-size: 1.1rem;
        padding: 5px;
        //color: lightgray;
        color: white;
    }

    .item-input {
        font-size: 1.1rem;
        background-color: $dark-blue;
        color: white;        
        border: none;

        &:focus {
            text-shadow: none;
            border-color: transparent;
            box-shadow: 0;
            outline: 0 none;
        }
    }
    
    .item-controls {
        a {
            color: darkgrey;
            margin-left: 10px;
            font-weight: bold;
            font-size: 1.2rem;
            font-size: 2rem;
            line-height: 2rem;
            vertical-align: middle;
        }
    }
}
